############################################################
# Java
############################################################
*.class

############################################################
# Maven
############################################################
target/

############################################################
# Eclipse
############################################################
bin/
.settings/
.project
.classpath